<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript">
    var app =angular.module("todo",[]);

    app.controller("TodoCtrl",function ($scope) {
      $scope.todos = [
        {
          title : "study",
          completed : true,
        },
        {
          title : "game",
          completed : false,
        },
        {
          title : "watching TV",
          completed : true,
        }
      ]
    });
    </script>
    <div ng-app="todo" ng-controller="TodoCtrl">
      <ul>
        <li ng-repeat="todo in todos">
          <input type="text" ng-model="todo.title">
          <input type="checkbox" ng-model="todo.completed">
        </li>
      </ul>
    </div>
  </body>
</html>
